nav{
background-color: var(--clr-Green);
}

.section1{
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.section1-container{
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.academic-information, .sidebar{
    padding: 2%;
    border-radius: 0.625rem;
    border: 2px solid var(--clr-Green);
}

.form-container{
    display: flex;
}

.form-group{
    display: flex;
    flex-direction: column;
}


